# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
bin/
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VSCode
.settings/
.vscode/
bin/

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Fabric
run/
.fabric/
logs/

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Generated Sources
src/main/generated/
/src/main/generated/.cache/

# Mod Development
*.log
crash-reports/
debug.log
mods/
saves/
screenshots/
*.jar
!gradle/wrapper/gradle-wrapper.jar
config/
options.txt
usercache.json
usernamecache.json

# Local Development
local.properties
.env
